@import 'colors';
a {
  font-weight: bold;
}
.mx-1 {
  color: white !important;
}
.navbar_icon {
  margin-left: 20px;
}

.navigation_item {
  float: left;
}

.navbar_search_text {
  margin-right: 30px;

  position: relative;

  top: 1px;
  font-size: 17pt !important;
}

#navbar {
  position: fixed;
  transition: 0.5s;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $transperent_darker;
  backdrop-filter: blur(5px);
}

.dropdown-menu {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 0;
  text-align: center;
  min-width: 120px;
}
.dropdown-menu-dark {
  background-color: $transperent_dark !important;
}

.dropdown-item {
  background-color: none !important;
}
