a {
  font-weight: bold;
}
.mx-1 {
  color: white !important;
}
.navbar_icon {
  margin-left: 20px;
}

.navigation_item {
  float: left;
}

.navbar_search_text {
  margin-right: 30px;

  position: relative;

  top: 1px;
  font-size: 17pt !important;
}
#navbar {
  transition: all ease 1s;
}

.red {
  background-color: red !important;
}

.green {
  position: fixed;
  animation: 0.2s ease-out 0s 1 topAnimation;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@keyframes topAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fixed_top {
  
  position: fixed;
  transition: ease-in-out 1s;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}