a {
  font-weight: bold;
}
.mx-1 {
  color: white !important;
}
.navbar_icon {
  margin-left: 20px;
}

.navigation_item {
  float: left;
}

.navbar_search_text {
  margin-right: 30px;

  position: relative;

  top: 1px;
  font-size: 17pt !important;
}

#navbar {
  position: fixed;
  transition: 0.5s;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
