@import 'colors';

.search_box {
    border-radius: 10px;
    background-color: $dark;
    display: flex;
    align-items: center;
    color: white;

    .filter {
        margin-left: 20px;
        font-size: 20pt;
        font-weight: bold;
        margin-bottom: 0;
    }

    .simple_form {
        .form-inputs {
            display: flex;
            padding: 10px;

            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px $dimgray inset;
                -webkit-text-fill-color: #ffffff;
              }
            
              input:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0 50px $dimgray inset;
                -webkit-text-fill-color: #ffffff;
              }

            input[type='text'] {
                border-style: none;
                transition: transform .2s;
                height: 110%;
                outline: none;
                border-radius: 10px;
                background-color: $dimgray;
                color: white;
                padding-left: 10px;
            }

            input[type='text']::placeholder {
                color: white;
            }
        }
    }
}

.title {
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: $dark;
    border-radius: 10px;
    color: white;
    position: relative;
    transition: transform .4s;

    .type {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .description {
        padding: 10px;
        margin-left: 5px;

        p {
            margin-top: 0;
            margin-bottom: 1rem;
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: block;
            display: -webkit-box;
            overflow: hidden !important;
            text-overflow: ellipsis;
            -webkit-line-clamp: 6;
        }
    }

    .image_cover {

        img {
            height: auto;
            width: 200px;
            border-radius: 10px;
            transition: transform .4s;
        }
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}
.task-paginator-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pagination {
    min-width: 10%;
    display: inline-block;
    justify-content: space-evenly;
    color: #818181;
    // margin-bottom: 50px;
    
    span {
        margin: 10px;
    } 

    a {
      text-decoration: none;
      color: white;

      &:hover {
          color: gray;
      }
    }
}

// show
.show_wrapper {
    background-color: $dark;
    border-radius: 10px;
    color: white;
    clip-path: inset(0 0 0 0 round 10px);

    .banner_wrapper {
        max-height: 255px;
        overflow: hidden;

        img {
            height: auto;
            width: 100%;
            border-radius: 10px;
            transition: transform .4s;
    
            &:hover {
                transform: scale(1.01);
            }
        }
    }

    .information_wrapper {
        display: flex;
        justify-content: space-between;

        .information {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            padding: 15px;

            .description {
                padding-bottom: 10%;
            }

            .item {
                h6 {
                    display: inline-block;
                }
            }

        }

        .cover_image {
            width: 40%;
            display: flex;
            padding: 30px;
            justify-content: right;

            img {
                height: fit-content;
                width: 100%;
                position: relative;
                border-radius: 10px;
                transition: transform .4s;
    
                &:hover {
                    transform: scale(1.04);
                }
            }

            p {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
}

// .cover_image {
//     width: 40%;
//     display: flex;
//     padding: 30px;
//     justify-content: right;

//     img {
//         height: fit-content;
//         width: 100%;
//         position: relative;
//         border-radius: 10px;
//         transition: transform .4s;

//         &:hover {
//             transform: scale(1.04);
//         }
//     }